/* Generales */

body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Outfit", sans-serif;
}

h1 {
    color: white;
}

h1, h3 {
    padding: 0;
    margin: 0;
    border: 0;
}

/* Nav bar */

.navbar_wrapper {
    background: #F27222;
    width: 100vw;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons_wrapper {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_button {
    background: #496573;
    color: white;
    font-weight: bold;
    height: 70%;
    border-width: 0;
    border-radius: 20px;
}
.nav_button:hover {
    background-color: black;
}

.title_wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_wrapper {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 70%;
}

/* Index */

.index_wrapper {
    width: 100vw;
    height: 93vh;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_wrapper {
    width: 98%;
    height: 95%;
    border: 2px solid gray;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0;
    margin: 0;
}

.header_wrapper {
    color: #F27222;
    height: 7%;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.proposals_wrapper {
    height: 93%;
    margin: 10px;
}

/* Tabla de propuestas */

table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    /*border: 1px solid black;*/
}

td, th{
    text-align: left;
    /*border: 1px solid black;*/
    border-bottom: 1px solid #ddd;
    padding: 10px;
    color: #212529;
}

th{
    /*background-color: #F27222;*/
    border-bottom: 2px solid black;
    color: black;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
/*
table tbody tr:nth-child(odd){
    background: rgb(225, 225, 225);
}
table tbody tr:nth-child(even){
    background: rgb(255, 255, 255);
}
    */
tr:hover td{
    background-color: rgb(236,236,236);
}

/* Registro de nueva propuesta */

.up_form {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.left_area_form {
    margin-left: 10px;
    margin-right: 5px;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.right_area_form {
    margin-left: 5px;
    margin-right: 10px;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}
/* Estilo del formulario */
.bottom_form{
    display: flex;
}
.input-enca{
    width: 60%;
    margin-right: 10px;
}
.input-corr{
    width: 40%;
}
.select-css{
    color: #444;
    padding: 5px;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 7px;
}
.select-css:hover {
    border-color: #353434;
}
.input-css{
    padding: 5px;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 7px;
}
.input-desc{
    margin-left: 10px;
    margin-right: 10px;
}
.boton-css{
    border: none;
    background-color: #496573;
    padding: 14px 28px;
    cursor: pointer;
    display: inline-block;   
    color: white;
    font-weight: bold;
    margin: 10px;
    border-radius: 10px;
}
.boton-css:hover{
    background-color: black;
    color: white;
}
