{% extends "base.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'js/forms.js' %}"></script>

<div class="index_wrapper">

    <div class="content_wrapper">
        <div class="header_wrapper">
            <h3>REGISTRO DE NUEVA PROPUESTA</h3>
        </div>
        <div class="proposals_wrapper" id="proposals" style="overflow-x: auto;">
            <!-- Contenido -->
            <form class="registroForm" id="registroForm" action="." method="POST">{% csrf_token %}
                <div class="up_form">
                    <div class="left_area_form">
                        <label for="area"><b>Area</b></label>
                        <select class="select-css" id="area" name="area" required>
                            <option>GR</option>
                            <option>MI</option>
                        </select>
                        <label for="categ"><b>Categoría</b></label>
                        <select class="select-css" id="categ" name="categ" required>
                            <option>SCR</option>
                            <option>AUT</option>
                            <option>LIB</option>
                            <option>APP</option>
                            <option>IAR</option>
                            <option>MET</option>
                        </select>
                    </div>
                    <div class="right_area_form">
                        <label for="proy"><b>Nombre del Proyecto</b></label>
                        <input class="input-css" type="text" id="proy" name="proy" required>
                        <div class="bottom_form">
                            <div class="input-enca">
                                <label for="enca"><b>Encargado</b></label>
                                <input class="input-css" type="text" id="enca" name="enca" required>
                            </div>
                            <div class="input-corr">
                                <label for="corr"><b>Correo</b></label>
                                <input class="input-css" type="text" id="corr" name="corr" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-desc">
                    <label for="desc"><b>Descripción</b></label>
                    <!--<input class="input-css" type="text" id="desc" name="desc" required>-->
                    <textarea class="textarea-css" name="desc" id="desc"></textarea>
                </div>
                
                <input class="boton-css" type="button" id="submit" value="Guardar">
            </form>
        </div>
    </div>
    
    </div>

{% endblock %}